<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/basic.css')}}">
	{% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="header-box">
                <a href="/" class="taipei"><h1>台北一日遊</h1></a>
                <nav class="navbar">
                    <ul>
                        <li id="schedule"><a href="#">預定行程</a></li>
                        <li class="hide" id="logInSignUp"><a href="#">登入/註冊</a></li>
                        <li class="hide" id="logOut" hidden><a href="#">登出系統</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="occupy"></div>
    </header>

    <main>
        <!-- 登入介面 -->
        <section class="pop-up" id="logIn">
            <div class=pop-up-modal>
                <img src="{{url_for('static', filename='pic/close.png')}}" alt="關閉" class="close" id=logInClose>
                <!-- <div class="close" id=logInClose>X</div> -->
                <div class="top-gradient"></div>
                <h3 class="header3-bold">登入會員帳號</h3>
                <form action="/api/user" id="logInForm">
                    <div class="form-control">
                        <input type="email" placeholder="輸入電子信箱" name="email" class="input body-reg" id="logInEmail">
                        <img src="{{url_for('static', filename='pic/error.png')}}" alt="">
                        <small>Error Message</small>
                    </div>
                    <div class="form-control">
                        <input type="password" placeholder="輸入密碼" name="password" class="input body-reg" id="logInPassword">
                        <img src="{{url_for('static', filename='pic/error.png')}}" alt="">
                        <small>Error Message</small>
                    </div>
                    <button class=button-reg>登入帳戶</button>
                </form>
                <span class="body-reg" id="logInMessage"></span>
                <p class="body-reg" id="signUpLink">還沒有帳戶？點此註冊</p>
            </div>
        </section>

        <!-- sign up pop up -->
        <section class="pop-up" id="signUp">
            <div class="pop-up-modal">
                <img src="{{url_for('static', filename='pic/close.png')}}" alt="關閉" class="close" id=signUpClose>
                <!-- <div class="close" id=signUpClose>X</div> -->
                <div class="top-gradient"></div>
                <h3 class="header3-bold">註冊會員帳號</h3>
                <form action="/api/user" id="signUpForm">
                    <div class="form-control">
                        <input type="text" placeholder="輸入姓名" name="name" class="input body-reg" id="signUpName">
                        <img src="{{url_for('static', filename='pic/error.png')}}" alt="">
                        <small>Error Message</small>
                    </div>
                    <div class="form-control">
                        <input type="email" placeholder="輸入電子信箱" name="email" class="input body-reg" id="signUpEmail">
                        <img src="{{url_for('static', filename='pic/error.png')}}" alt="">
                        <small>Error Message</small>
                    </div>
                    <div class="form-control">
                        <input type="password" placeholder="輸入密碼" name="password" class="input body-reg" id="signUpPassword">
                        <img src="{{url_for('static', filename='pic/error.png')}}" alt="">
                        <small>Error Message</small>
                    </div>
                    <button class=button-reg>註冊新帳戶</button>
                </form>
                <span class="body-reg" id="signUpMessage"></span>
                <p class="body-reg" id="logInLink">已經有帳戶了？點此登入</p>
            </div>
        </section>


    </main>
        <!-- <section class="pop-up" id="logInSuccess">
            <div class="pop-up-modal">
                <img src="{{url_for('static', filename='pic/close.png')}}" alt="關閉" class="close" id=logInSuccessClose>
                <div class="top-gradient"></div>
                <h3 class="header3-bold">成功登入</h3>
                <div class="wrapper">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve">
                    <path class="checkmark" fill="none" stroke-width="8" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4
                      C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3"/>
                    </svg>
                </div>
            </div>
        </section> -->
<!-- 
        <section class="pop-up" id="logOutSuccess">
            <div class="pop-up-modal">
                <img src="{{url_for('static', filename='pic/close.png')}}" alt="關閉" class="close" id=logOutSuccessClose>
                <div class="top-gradient"></div>
                <h3 class="header3-bold">已登出</h3>
                <div class="wrapper">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve">
                    <path class="checkmark" fill="none" stroke-width="8" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4
                      C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3"/>
                    </svg>
                </div>
            </div>
        </section> -->

    </header>

    
<!-- 主頁面 -->
    <main>{% block main %}{% endblock %}</main>

    <footer><p>COPYRIGHT © 2021 台北一日遊</p></footer>
    <script src="{{url_for('static',filename='js/sign.js')}}"></script>
    {% block script %}{% endblock %}
</body>
</html>