{% extends "basic.html" %} {% block title %}台北一日遊 - 結帳成功{% endblock %}
{% block css %}
<link
  href="{{ url_for('static', filename='css/index.css') }}"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
{% endblock %} {% block main %}
<h2>會員訂單紀錄</h2>

{%for i in userorder %} {% if i.status == 1 %}
<section>
  <div>訂單號碼：{{i.number}}</div>
  <div>姓名：{{i.name}}</div>
  <div>日期：{{i.date}}</div>
  <div>電子郵件：{{i.email}}</div>
  <div>訂單時間：{{i.time}}</div>
  <div>訂單金額：{{i.price}}</div>
  <div>已成立訂單</div>
  <br />
</section>
{% endif %} {% if i.status == 0 %}
<section>
  <div>訂單號碼：{{i.number}}</div>
  <div>姓名：{{i.name}}</div>
  <div>日期：{{i.date}}</div>
  <div>電子郵件：{{i.email}}</div>
  <div>訂單時間：{{i.time}}</div>
  <div>訂單金額：{{i.price}}</div>
  <div>未成立訂單</div>
  <br />
  {% endif %} {% endfor %}
</section>
{% endblock %}
